/* My Terminal Color Scheme */
.white { color: #e2e2e2; }
.gray { color: #97989d; }
.black { color: #16161e; }
.red { color: #ec6183; }
.green { color: #2ed8a2; }
.yellow { color: #e8b195; }
.blue { color: #2bc3de; }
.cyan { color: #62e0e2; }
.magenta { color: #e069aa; }
.purple { color: #d1aff8; }