* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	background-color: var(--background-color);
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	font-family: "Fira Code", monospace;
}

a,
a:active,
a:visited {
	color: #e2e2e2 !important;
	text-decoration: none;
	transition: color 0.2s !important;
}

a:hover {
	color: #d1aff8 !important;
	transition: color 0.2s !important; 
}