#nfetch {
	overflow-y: scroll;
	height: 100%;
	color: var(--white);
}

#nfetch h1 {
	color: var(--green);
}

#nfetch p, #nfetch li {
	color: var(--white);
}

#nfetch ul {
	list-style-type: none;
}


#nfetch ul li span {
	font-weight: bold;
}

#nfetch hr {
	border-top: 1px dashed var(--gray);
}

#icon {
	display:block;
	height: 265px;
	width: 265px;
}

#colorbox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#colorbox div {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 20px;
	width: 20%;
}