#search {
	margin-top: 25px;
	display: block;
}

#search input,
#search input:active,
#search input:focus {
	display: inline-block;
	width: auto;
	color: var(--white);
	background-color: transparent;
	border:none;
	outline: none !important;
	appearance: none;
	box-shadow: none;
	margin-left: 10px;
}