html {
	--background-color: #121317;
	--window-color: #1e212b;
	--color-glow: transparent;

	--white: #e2e2e2;
	--gray: #97989d;
	--black: #16161e;
	--red: #ec6183;
	--green: #2ed8a2;
	--yellow: #e8b195;
	--blue: #2bc3de;
	--cyan: #62e0e2;
	--magenta: #e069aa;
	--purple: #d1aff8;
}

.white { color: var(--white); }
.gray { color: var(--gray); }
.black { color: var(--black); }
.red { color: var(--red); }
.green { color: var(--green); }
.yellow { color: var(--yellow); }
.blue { color: var(--blue); }
.cyan { color: var(--cyan); }
.magenta { color: var(--magenta); }
.purple { color: var(--purple); }