:root {
	--background-color: #121317;
	--window-color: #1e212b;
	--color-glow: transparent;

	--selection-fg: black;
	--selection-bg: white;

	--white: #e2e2e2;
	--gray: #97989d;
	--black: #16161e;
	--red: #ec6183;
	--green: #2ed8a2;
	--yellow: #e8b195;
	--blue: #2bc3de;
	--cyan: #62e0e2;
	--magenta: #e069aa;
	--purple: #d1aff8;
}

.white { color: var(--white); }
.gray { color: var(--gray); }
.black { color: var(--black); }
.red { color: var(--red); }
.green { color: var(--green); }
.yellow { color: var(--yellow); }
.blue { color: var(--blue); }
.cyan { color: var(--cyan); }
.magenta { color: var(--magenta); }
.purple { color: var(--purple); }

.white-bg { background-color: var(--white); }
.gray-bg { background-color: var(--gray); }
.black-bg { background-color: var(--black); }
.red-bg { background-color: var(--red); }
.green-bg { background-color: var(--green); }
.yellow-bg { background-color: var(--yellow); }
.blue-bg { background-color: var(--blue); }
.cyan-bg { background-color: var(--cyan); }
.magenta-bg { background-color: var(--magenta); }
.purple-bg { background-color: var(--purple); }

.white-caret { caret-color: var(--white) !important; }
.gray-caret { caret-color: var(--gray) !important; }
.black-caret { caret-color: var(--black) !important; }
.red-caret { caret-color: var(--red) !important; }
.green-caret { caret-color: var(--green) !important; }
.yellow-caret { caret-color: var(--yellow) !important; }
.blue-caret { caret-color: var(--blue) !important; }
.cyan-caret { caret-color: var(--cyan) !important; }
.magenta-caret { caret-color: var(--magenta) !important; }
.purple-caret { caret-color: var(--purple) !important; }