#main {
	max-width: 800px;
	width: 100%;
	padding: 15px;
	border-radius: 10px;
	background-color: var(--window-color) !important;
	transition: box-shadow 0.2s;

	/* min-height: 280px; */
	/* height: var(--window-max-height) !important;
	min-height: var(--window-max-height) !important;
	max-height: var(--window-max-height) !important; */

min-height: var(--window-max-height) !important;
height:auto !important;
height:var(--window-max-height) !important;

}

.shadow {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	transition: box-shadow 0.2s;
}

.glow {
	box-shadow: 0 0 5px var(--color-glow), 0 0 25px var(--color-glow),
		0 0 50px var(--color-glow), 0 0 200px var(--color-glow);

	transition: box-shadow 0.2s;
}